#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

/* Proud to share that we recently delivered a capacity-building training program on coal mining and regulatory frameworks in Assosa, Arba Minch, and Mizan-Teferi, supporting domestic coal miners across three regional states.

 This training is organized by #MIDI, #AAU, and #MoM, which aims to strengthen Ethiopia’s coal sector, advance import substitution, reduce foreign currency pressure, and pave the way toward export-driven mineral development.

#CoalMining #CapacityBuilding #Ethiopia #MiningEngineering #EnergyDevelopment #MineralResources */
